.container{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.containerCanvas{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.container h1{
    margin: 0px;
    
}

.canvas {
    background-color: black;
    border: 2px solid white;
    width: 800px;
    height: 500px;
    flex-direction: column;
    
    align-items: center;
    display: flex;
    
}

.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.canvas button{
    margin: 30px;
    height: 80px;
    width: 250px;
    border-radius: 10px;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    transition: 0.5s;
}

.canvas button:hover{
    cursor: pointer;
    transform: translateY(-5px);
    filter: brightness(80%);
}

.canvas h2{
    color:white;
    font-size: 3rem;
}